/* Login */
.login {
    padding-top: 50px;
}

.login-form {
	margin-top: 10px;
	margin-bottom: 10px;
}

.login-footer {
	text-align: right;
}

.pixsis-mini-logo {
	margin-top: -6px;
}

.tool-btn {
    margin-bottom: 15px;
    margin-top: 10px;
}

.booking-details legend {
	margin-bottom: 0;
}

.table-label {
	width: 135px;
	text-align: right;
}