/******************************************
   ------------ CSS RESET ----------------
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*******************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/**************************************
  ------------ CLEARFIX -------------
***************************************/
/* slightly enhanced, universal clearfix hack */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */



/*************************************
  ---------- SITE STYLES ------------
**************************************/
body {
    background-color: #f3f7ff;
}

strong, b {
    font-weight: bold;
}

em {
    font-style: italic;
}

small {
    font-size: 0.8em;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.content {
    width: 960px;
    margin: auto;
    font-family: 'Titillium Web', sans-serif;
}

.site-header {
    height: 270px;
    margin-bottom: -80px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    float: left;
    margin-top: 5px;
}

.top-bar {
    float: right;
    margin-top: 10px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.top-bar li {
    float: left;
    margin-right: 10px;
    line-height: 30px;
}

.top-icon {
    display: block;
    width: 30px;
    height: 30px;
}

.fb-top-icon {
    background-image: url('../img/facebook-icon.png');
}

.tw-top-icon {
    background-image: url('../img/twitter-icon.png');
}

.language-switch {
    color: #fff;
    text-decoration: none;
}

.language-switch:hover {
    color: #fff;
    text-decoration: underline;
}

.active-language {
    background-color: #f45a1e;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 3px;
}

.main-menu {
    float:right;
    margin-top: 50px;
}

.main-menu li {
    float: left;
}

.main-menu li a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.main-menu li a:hover {
    text-decoration: underline;
}

.main-menu-active {
    background-color: #1b1464;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.section-header {
    color: #fff;
    background-color: #1b1464;
    padding: 40px 50px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.section-header h1 {
    font-size: 2.4em;
    margin-bottom: 10px;
}

.section-header p {
    line-height: 1.3;
}

.section-banner {
    width: 960px;
    height: 368px;
}

.section-menu {
    width: 300px;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
}

.section-menu-item {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    background-color: #2e3192;
    border: 1px solid #232780;
    padding: 15px 10px;
}

a.section-menu-item {
    font-size: 1.2em;
}

a.section-menu-item:hover {
    text-decoration: underline;
    color: #fff;
}

.sub-section-menu .section-menu-item {
    font-size: 1em;
    padding-left: 25px;
}

.section-menu-title {
    font-size: 1.5em;
}

.section-menu-active {
    background-color: #f25a28;
}

.section-sidebar {
    width: 380px;
    float: left;
    margin-right: 40px;
}

.section-content {
    color: #555;
}

.section-content-article {
    float: left;
    width: 620px;
}

.section-content-title {
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 2em;
}

.section-content-subtitle {
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #2e3192;
}

.section-content p {
    line-height: 1.4;
    margin-bottom: 10px;
}

.section-content-list {
    list-style: disc;
    margin-left: 25px;
    margin-bottom: 20px;
}

.section-content-list li {
    margin-bottom: 5px;
}

.bottom-bar {
    background-color: #1b1464;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 20px 0;
    border-top: 1px solid #0f0659;
}

.column-3 {
    float: left;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.column-3:nth-child(3) {
    margin-right: 0;
}

.column-twitter {
    width: 340px;
}

.column-facebook {
    width: 300px;
}

.column-whales {
    width: 280px;
}

.column-icon {
    width: 60px;
    height: 60px;
    float: left;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.tw-widget-icon {
    background-color: #3cbbf0;
    background-image: url('../img/3col-twitter.png');
}

.twitter-timeline {
    float: left;
    height: 446px;
    width: 280px!important;
}

.fb-widget-icon {
    background-color: #2e3192;
    background-image: url('../img/3col-facebook.png');
}

.whale-tail-icon {
    background-color: #1b1464;
    background-image: url('../img/3col-avistamiento.png');
}

/* Share icons */
.post-meta-data {
    overflow: hidden;
    padding-bottom: 10px;
}

.social-icons {
    float: right;
}

.social-icon {
    float: left;
}

.post-tags {
    margin-top: 20px;
    color: #285e8e;
    font-weight: bold;
}



/***********************************
  ---------- HOME PAGE -----------
************************************/
.home-header {
    background-image: url('../img/header-home.jpg');
    background-repeat: repeat-x;
    height: 460px;
    margin-bottom: 0;
}

.home-section-header {
    height: 230px;
    margin-top: -230px;
}

.home-galleries-big {
    width: 600px;
    height: 400px;
    overflow: hidden;
    margin-bottom: 3px;
}

.home-galleries-big img {
    width: 100%;
    height: auto;
}

.home-galleries-small {
    width: 198px;
    height: 120px;
    overflow: hidden;
    float: left;
    margin-right: 3px;
}

.home-galleries-small img {
    height: 120px;
    width: 200px;
}

.more-galleries-btn {
    text-transform: uppercase;
    margin-top: 20px;
    width: 100%;
}


/***********************************
  ------- FACILITIES PAGE --------
************************************/
.facilities-header {
    background-image: url('../img/header-comodidades.jpg');
    background-color: #65536d;
}

.facilities-malarrimo-banner {
    background-image: url('../img/bann-comodidades-malarrimo.jpg');
}

.facilities-tours-banner {
    background-image: url('../img/bann-comodidades-ecotours.jpg');
}

.restaurant-banner {
    background-image: url('../img/bann-comodidades-restaurante.jpg');
}

.motel-banner {
    background-image: url('../img/bann-comodidades-motel.jpg');
}

.rvparking-banner {
    background-image: url('../img/bann-comodidades-rvparking.jpg');
}

.cevc-banner {
    background-image: url('../img/bann-comodidades-elviejocactus.jpg');
}

.deli-banner {
    background-image: url('../img/bann-comodidades-deli.jpg');
}



/***********************************
 ---------- TOURS PAGE ------------
************************************/
.tours-header {
    background-image: url('../img/header-tours.jpg');
    background-color: #2E3192;
}

.tours-banner {
    background-image: url('../img/bann-tours.jpg');
}

.whales-info-banner {
    background-image: url('../img/bann-tours-infoballena.jpg');
}

.other-tours-banner {
    background-image: url('../img/bann-tours-terrestre.jpg');
}

.cave-paintings-banner {
    background-image: url('../img/bann-tours-pinturas.jpg');
}

.fees-grid {
    border-bottom: 1px dashed #000;
    border-top: 1px dashed #000;
    margin-top: 15px;
}

.whale-watching-grid td {
    vertical-align: middle;
    padding: 10px;
}



/***********************************
  -------- LOCATION PAGE ---------
************************************/
.location-header {
    background-image: url('../img/header-ubicacion.jpg');
    background-color: #adab9e;
}

.location-section-menu li a {
    line-height: 45px;
}

.location-icon {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 5px;
    margin-bottom: -17px;
}

.flight-icon {
    background-image: url('../img/ubicacion-vuelos.png');
}

.bus-icon {
    background-image: url('../img/ubicacion-autobus.png');
}

.boat-icon {
    background-image: url('../img/ubicacion-barco.png');
}



/***********************************
 --------- BOOKING PAGE -----------
************************************/
.booking-header {
    background-image: url('../img/header-reservaciones.jpg');
    background-color: #2E3192;
}

.booking-container {
    margin-top: 10px;
    position: relative;
}

.booking-form {
    margin: auto;
}

.booking-summary {
    padding-right: 5px;
    margin-top: 20px;
}

.fixed-booking-summary {
    position: fixed;
    top: 0;
    margin-left: 63%;
}

.booking-summary-element {
    display: none;
    border-bottom: 1px dashed #999;
    margin-bottom: 10px;
}

.booking-summary-element-title {
    font-size: 1em;
    color: #2e3192;
}


/***********************************
 ----------- NEWS PAGE ------------
************************************/
.news-header {
    background-image: url('../img/header-noticias.jpg');
    background-color: #234E5E;
}

.news--most-readed-title {
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1.3;
    display: block;
    font-size: 1.1em;
}

.news--most-readed-title:hover {
    text-decoration: none;
}

.news--most-readed-content {
    font-size: 1em;
    line-height: 1.2em;
    -ms-word-break: break-all;
    word-break: break-all; /* Be VERY careful with this, breaks normal words wh_erever */
    word-break: break-word; /* Non standard for webkit */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.news--read-more {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.7em;
}

.news--read-more:hover {
    color: #fff;
}

.news--read-more:before {
    content: url('../img/bullet.png');
    padding-right: 2px;
}

.news {
    width: 540px;
}

.post-item {
    width: 250px;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    float: left;
    color: #000;
}

.post-item:nth-child(2n) {
    margin-right: 0;
}

.post-item-title {
    color: #1b1464;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 5px;
}

.post-item-content {
    line-height: 1.2;
    margin-bottom: 10px;

    -ms-word-break: break-all;
    word-break: break-all; /* Be VERY careful with this, breaks normal words wh_erever */
    word-break: break-word; /* Non standard for webkit */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.post-item--read-more {
    color: #333;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}

.post-item--read-more:before {
    content: url('../img/bullet.png');
}

.news-image-container {
    width: 250px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
}

.news-image {
    height: 150px;
    width: auto;
}

.post {
    width: 540px;
}

.post-image {
    width: 540px;
    overflow: hidden;
    margin: 10px 0;
}

.post-image img {
    width: 100%;
    height: auto;
}

.post-content p {
    margin: 10px 0;
    word-wrap: break-word;
}

.post-content ul {
    margin: 10px 0;
    padding-left: 40px;
    list-style: disc;
}


/***********************************
 -------- GALLERIES PAGE ----------
************************************/
.galleries-list--item {
    float: left;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.galleries-list--item a {
    color: #1b1464;
    display: block;
}

.galleries-list--item a:hover {
    text-decoration: none;
}

.galleries-list--item:nth-child(3n) {
    margin-right: 0;
}

.galleries-list--item--picture {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
}

.galleries-list--item:hover .galleries-list--item--picture,.galleries-list--item:hover .galleries-list--item--title {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";/* IE 8 */
    filter: alpha(opacity=70);/* IE 5-7 */
    -moz-opacity: 0.7;/* Netscape */
    -khtml-opacity: 0.7;/* Safari 1.x */
    opacity: 0.7;/* Good browsers */
}

.galleries-list--item--picture img {
    height: 225px;
    width: auto;
}

.galleries-list--item--title {
    font-size: 1.5em;
}

.gallery-header {
    background-image: url('../img/header-galeria.jpg');
    background-color: #2e338f;
}

/* carousel styles */
.carousel-outer {
    margin-bottom: 10px;
}

#carousel-custom {
    margin: 20px auto;
    width: 800px;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    height: 90px;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    margin: 0 !important;
    height: 70px;
    width: 100px;
    overflow: hidden;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
    width: 100px;
    height: auto;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}


/***********************************
 --------- CONTACT PAGE -----------
************************************/
.contact-header {
    background-image: url('../img/header-contacto.jpg');
    background-color: #2e338f;
}

.contact-form {
    margin-top: 20px;
    margin-bottom: 50px;
}

.contact-form label {
    margin-bottom: 5px;
    color: #555;
}

.contact-button {
    background-color: #2e3192;
    border-color: #2e3192;
}



/*******************************
 ------- MEDIA QUERIES --------
********************************/
@media (max-width: 960px) {
    .content {
        width: 98%;
    }

    .main-menu, .logo, .top-bar {
        float: none;
    }

    .top-bar {
        margin: auto;
        width: 580px;
    }

    .logo {
        margin: auto;
        display: block;
        height: 150px;
        width: 150px;
    }

    .main-menu {
        margin: auto;
    }

    .section-header {
        padding: 25px;
    }

    .section-menu, .section-sidebar {
        width: 30%;
        margin-right: 2%;
    }

    .section-menu-title {
        font-size: 1.3em;
    }

    .section-content-article {
        width: 68%;
    }

    .home-galleries-small {
        width: 33%;
        margin-right: .333%;
    }

    .section-content-title {
        font-size: 1.6em;
        padding-top: 10px;
    }

    .home-galleries-big {
        width: 100%;
        height: auto;
        margin-bottom: .333%;
    }

    .column-3 {
        width: 30%;
        margin-right: 3%;
        margin-top: 20px;
    }

    .column-icon {
        display: none;
    }

    .bottom-bar {
        margin-top: 10px;
    }

    .site-header {
        margin-bottom: -55px;
    }

    .home-header {
        margin: 0;
    }

    .section-banner {
        width: 100%;
        height: 320px;
    }

    .galleries-list--item {
        margin-right: 3%;
        margin-top: 10;
        margin-bottom: 10px;
        width: 31%;
        position: relative;
    }
    
    .galleries-list--item--picture {
        width: 100%;
    }
}

@media (max-width: 864px) {
    .section-header h1 {
        font-size: 1.8em;
    }

    .main-menu li a {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 0.9em;
    }

    .galleries-list--item--title {
        font-size: 1.2em;
    }
}

@media (max-width: 800px) {
    #carousel-custom {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .booking-summary {
        display: none;
    }
}

@media (max-width: 700px) {
    .section-menu, .section-content-article, .section-sidebar {
        float: none;
        width: 100%;
    }

    .column-whales {
        display: none;
    }

    .column-3 {
        width: 45%;
    }
    
    .logo, .logo img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 620px) {
    .top-bar {
        width: 260px;
    }

    .top-bar-hidden {
        display: none;
    }

    .post-item {
        float: none;
        width: 100%;
    }

    .galleries-list--item {
        margin-right: 0;
        width: 100%;
        float: none;
    }
}

@media (max-width: 565px) {

    .section-header {
        padding: 15px;
        font-size: 0.9em
        line-height: 1.2em;
    }

    .section-header h1 {
        font-size: 1.5em;
        margin-bottom: 5px;
    }

    .column-3 {
        float: none;
        width: 80%;
        margin: auto;
    }
}